# Database
DATABASE_URL="file:./dev.db"

# NextAuth (obrigatório)
NEXTAUTH_SECRET="luz-e-sombra-secret-key-2025-change-in-production"
NEXTAUTH_URL="http://localhost:3000"

# Admin Password (altere antes de publicar)
ADMIN_PASSWORD="luz2025"
